{% extends 'base.html' %}

{% load static %}

{% block title %}
Become our guest | Hotel app
{% endblock %}

{% block custom_style %}
<link href="{% static 'css/create_guest.css' %}" rel="stylesheet">
<link href="{% static 'css/create_guest2.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="wrapper">
    <form action="{% url 'authentication:create_guest' %}" class="form-signin" id="create_guest_form" method="POST">
        <h2 class="form-signin-heading text-center">Become our Guest</h2>

        {% for message in messages %}
        {% if message.tags == 'warning' %}
        <div class="alert alert-warning alert-dismissible mx-4">
            <button class="btn-close" data-bs-dismiss="alert" type="button"></button>
            <strong>Warning:</strong> {{ message }}
        </div>
        {% elif message.tags == 'info' %}
        <div class="alert alert-info alert-dismissible mx-4">
            <button class="btn-close" data-bs-dismiss="alert" type="button"></button>
            <strong>Information:</strong> {{ message }}
        </div>
        {% endif %}
        {% endfor %}

        {% csrf_token %}
        <div class="form-group mt-3">
            {{ form.first_name }}
        </div>
        <div class="invalid-feedback invalid-feedback-fn" style="display: none;">
        </div>

        <div class="form-group mt-3">
            {{ form.last_name }}
        </div>
        <div class="invalid-feedback invalid-feedback-ln" style="display: none;">
        </div>

        <div class="form-group mt-3">
            {{ form.email }}
        </div>
        <div class="invalid-feedback invalid-feedback-em" style="display: none;">
        </div>

        <div class="form-group mt-3">
            {{ form.phone_number }}
        </div>
         <div class="invalid-feedback invalid-feedback-ph" style="display: none;">
        </div>

        <div class="form-group mt-3">
            {{ form.next_of_kin_number }}
        </div>
        {% if form.errors %}
        {{ form.errors.next_of_kin_number }}
        {% endif %}

        <input name="next" type="hidden" value="{{ request.GET.next }}"/>

        <button class="btn btn-success mt-3" type="submit">Create</button>
    </form>
</div>
{% endblock %}

{% block custom_script %}
<script src="{% static 'js/create_guest.js' %}"></script>
{% endblock %}



