{% extends 'base.html' %}

{% block title %}
	Book a room | {{ room_type.name }} @ {{ hotel.name }}
{% endblock %}

{% block header %}
	{% include 'navbar.html' %}
{% endblock %}

{% block main %}
	<h1 class="mx-4">This is the reservation to book a room at {{ hotel.name }}</h1>

	{% for message in messages %}
		{% if message.tags == 'error' %}
			<div class="alert alert-danger alert-dismissible mx-4">
				  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
				  <strong>An error occurred:</strong> {{ message }}
			</div>
		{% elif message.tags == 'info' %}
			<div class="alert alert-info alert-dismissible mx-4">
				  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
				  <strong>Suggestion:</strong> {{ message }}
			</div>
		{% elif message.tags == 'warning' %}
            <div class="alert alert-warning alert-dismissible mx-4">
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                  <strong>Warning:</strong> {{ message }}
            </div>
		{% endif %}
	{% endfor %}

{% if room_type.images.count != 0 %}
    <div id="carouselExampleCaptions" class="carousel slide mx-4" data-bs-ride="carousel">
      <div class="carousel-indicators">

          {% for image in room_type.images.all %}
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ forloop.counter0 }}"></button>
          {% endfor %}

      </div>
      <div class="carousel-inner">

          {% for image in room_type.images.all %}
            {% if forloop.first %}
                <div class="carousel-item active">
                  <img src="{{ image.image.url }}" alt="{{ image.room_type.name }} image {{ forloop.counter }}" class="d-block w-100">
                </div>
            {% else %}
                <div class="carousel-item">
                  <img src="{{ image.image.url }}" alt="{{ image.room_type.name }} image {{ forloop.counter }}" class="d-block w-100">
                </div>
            {% endif %}
          {% endfor %}

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
{% endif %}

	<form class="mx-4 mt-4" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-success" type="submit">Book</button>
	</form>

{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

