{% extends 'base.html' %}

{% block title %}
    Make payments | {{ room.room_type.name }} at {{ room.hotel.name }}
{% endblock %}

{% block header %}
    {% include 'navbar.html' %}
{% endblock %}

{% block main %}
    {% for message in messages %}
        {% if message.tags == 'warning' %}
            <div class="alert alert-warning alert-dismissible mx-4">
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                  <strong>An error occurred:</strong> {{ message }}
            </div>
        {% endif %}
    {% endfor %}

    <h1>Payments</h1>

    <form method="POST"> 
        {%  csrf_token %}
        <h1>Pick a payment method</h1>
        <select>
            <option value="paypal">Paypal</option>
            <option value="visa">Visa</option>
            <option value="master-card">Master card</option>
        </select>
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Book</button>
    </form>
{% endblock %}