{% extends 'base.html' %}

{% block title %}
    Checking in | Room {{ room.room_number }} at {{ room.hotel.name }}
{% endblock %}

{% block content %}
    <form method="POST"> 
        {%  csrf_token %}
        <h1>Pick a payment method</h1>
        <select>
            <option value="paypal">Paypal</option>
            <option value="visa">Visa</option>
            <option value="master-card">Master card</option>
        </select>
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Book</button>
    </form>
{% endblock %}