{% extends 'base.html' %}

{% load static %}


{% block header %}
	{% include 'navbar.html' %}
{% endblock %}

{% block main %}
	<div class="mx-3">

		<div class="row">
			{% for hotel in hotels %}
				<div class="col-md-4">
					<a class="text-decoration-none" href="{% url 'booking:view_rooms' hotel.slug %}">
						<div class="card mt-2 reduce-opacity">
						  <img class="card-img-top img-fluid" src="{{ hotel.display_image.url }}" alt="{{ hotel.name }}'s' image">
						  <div class="card-body text-center">
						    <h4 class="card-title text-dark">{{ hotel.name }}</h4>
						    <p class="card-text text-dark">{{ hotel.description }}</p>
						  </div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
		
	</div>
{% endblock %}