{% extends 'base.html' %}


{% block content %}
	<div class="mx-3">
		<h3 class="text-center">Hotel's available today</h3>

		<div class="row">
			{% for hotel in hotels %}
				<div class="col-md-4">
					<div class="card">
					  <img class="card-img-top" src="{{ hotel.display_image.url }}" alt="{{ hotel.name }}'s' image" width="500px">
					  <div class="card-body text-center">
					    <h4 class="card-title">{{ hotel.name }}</h4>
					    <p class="card-text">{{ hotel.description }}</p>
					    <a href="{% url 'booking:book_a_room' hotel.slug %}" class="btn btn-primary">Book a reservation</a>
					  </div>
					</div>
				</div>
			{% endfor %}
		</div>
		
	</div>
{% endblock %}