{% extends 'base.html' %}

{% load static %}


{% block header %}
	{% include 'navbar.html' %}
{% endblock %}

{% block main %}
    <h2 class="text-center">Hello, {{ guest.first_name }}</h2>

<!--			<div class="container">-->
<!--				<div class="row">-->
<!--					{% for booking in bookings %}-->
<!--						<div class="card mb-2">-->
<!--                          <div class="card-body">You booked a {{ booking.room_type.name }} at {{ booking.hotel.name }}</div>-->
<!--                        </div>-->
<!--					{% endfor %}-->
<!--				</div>-->
<!--			</div>-->

<button data-bs-toggle="collapse" class="btn-primary" data-bs-target="#demo">Collapsible</button>

<div id="demo" class="collapse">
Lorem ipsum dolor text....
</div>


{% endblock %}